.container {
  display: flex;
  justify-content: space-around;
}
.webcam {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 640;
  height: 480;
}
.photo-size {
  width: 150px;
  height: auto;
}
